<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-quiv="X-UA Compatible" content="ie-edge">
	<title>Lobby</title>
	<link href="styles.css" rel="stylesheet">
    <link href="lobby.css" rel="stylesheet">
</head>
<body>
    <div class="lobby-header">
        <img id="lobby-logo" src="blackjack-logo.png">
        <div class="header-right">
            <div class="user-snippet">
                <div class="user-image"></div>
                <div class="user-snippet-right">
                    <div class="lobby-user-name">Username</div>
                    <div class="lobby-user-rank">User Rank</div>
                </div>   
            </div>
            <div class="lobby-chip-snippet">
                <div class="lobby-chip-symbol"></div>
                <div class="lobby-chip-count">0000</div>
            </div>
            <div class="lobby-buttons">
                <a href="./account.html">
                <div class="lobby-btn lobby-account-button">
                    ACCOUNT
                </div>
                </a>
                <div class="lobby-btn lobby-cashier-button">
                    CASHIER
                </div>
            </div>
        </div>
    </div>
    <div class="seperator-strip"></div>
    <div class="tables-header-strip">Tables</div>
    <div class="tables-grid">
        <div class="table">
            <div class="table-facts">
                <div class="table-info table-stakes">Stakes: <b>20/40</b></div>
                <div class="table-info table-players">Players: <b>1/4</b></div>
                <div class="table-info table-coin">
                <text>Coin:</text>
                <div class="coin-icon"><img src="bitcoin.png"></div>
                </div>
            </div>
            <div class="seat-grid">
                <div class="none"></div>
                <div class="lobby-seat white"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat white"></div>
                <div class="none"></div>
                <div class="lobby-seat white"></div>
                <div class="none"></div>
            </div>
            <div class="observe-button">OBSERVE</div>
        </div>  
        <div class="table">
            <div class="table-facts">
                <div class="table-info table-stakes">Stakes: <b>20/40</b></div>
                <div class="table-info table-players">Players: <b>1/4</b></div>
                <div class="table-info table-coin">
                <text>Coin:</text>
                <div class="coin-icon"><img src="bitcoin.png"></div>
                </div>
            </div>
            <div class="seat-grid">
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
            </div>
            <div class="observe-button">OBSERVE</div>
        </div>  
        <div class="table">
            <div class="table-facts">
                <div class="table-info table-stakes">Stakes: <b>20/40</b></div>
                <div class="table-info table-players">Players: <b>1/4</b></div>
                <div class="table-info table-coin">
                <text>Coin:</text>
                <div class="coin-icon"><img src="bitcoin.png"></div>
                </div>
            </div>
            <div class="seat-grid">
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
            </div>
            <div class="observe-button">OBSERVE</div>

        </div>  
        <div class="table">
            <div class="table-facts">
                <div class="table-info table-stakes">Stakes: <b>20/40</b></div>
                <div class="table-info table-players">Players: <b>1/4</b></div>
                <div class="table-info table-coin">
                <text>Coin:</text>
                <div class="coin-icon"><img src="bitcoin.png"></div>
                </div>
            </div>
            <div class="seat-grid">
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
            </div>
            <div class="observe-button">OBSERVE</div>
        </div>  
        <div class="table">
            <div class="table-facts">
                <div class="table-info table-stakes">Stakes: <b>20/40</b></div>
                <div class="table-info table-players">Players: <b>1/4</b></div>
                <div class="table-info table-coin">
                <text>Coin:</text>
                <div class="coin-icon"><img src="bitcoin.png"></div>
                </div>
            </div>
            <div class="seat-grid">
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
            </div>
            <div class="observe-button">OBSERVE</div>
        </div>  
        <div class="table">
            <div class="table-facts">
                <div class="table-info table-stakes">Stakes: <b>20/40</b></div>
                <div class="table-info table-players">Players: <b>1/4</b></div>
                <div class="table-info table-coin">
                <text>Coin:</text>
                <div class="coin-icon"><img src="bitcoin.png"></div>
                </div>
            </div>
            <div class="seat-grid">
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
            </div>
            <div class="observe-button">OBSERVE</div>
        </div>  
        <div class="table">
            <div class="table-facts">
                <div class="table-info table-stakes">Stakes: <b>20/40</b></div>
                <div class="table-info table-players">Players: <b>1/4</b></div>
                <div class="table-info table-coin">
                <text>Coin:</text>
                <div class="coin-icon"><img src="bitcoin.png"></div>
                </div>
            </div>
            <div class="seat-grid">
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
            </div>
            <div class="observe-button">OBSERVE</div>
        </div>  
        <div class="table">
            <div class="table-facts">
                <div class="table-info table-stakes">Stakes: <b>20/40</b></div>
                <div class="table-info table-players">Players: <b>1/4</b></div>
                <div class="table-info table-coin">
                <text>Coin:</text>
                <div class="coin-icon"><img src="bitcoin.png"></div>
                </div>
            </div>
            <div class="seat-grid">
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
                <div class="lobby-seat"></div>
                <div class="none"></div>
            </div>
            <div class="observe-button">OBSERVE</div>
        </div>  
   
    
</body>
</html>