<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-quiv="X-UA Compatible" content="ie-edge">
	<title>Login</title>
	<link href="styles.css" rel="stylesheet">
	<script src="login.js" defer></script>
</head>
<body>  
</body>
<div class="create-account-popup hide">
    <div class="create-account-popup-title">Create Account</div>
    <form class="create-account-form">   
        <div class="create-account-form-labels">
            <div class="table-row">
                <text>* Nickname:</text>
            </div>
            <div class="table-row">
                <text>* Password:</text>
            </div>
            <div class="table-row">
                <text>* Confirm Password:</text>
            </div>
            <div class="table-row">
                <text>* Email:</text>
            </div>
        </div>
        <div class="input-fields">
            <div class="table-row">
                <input name="nickname" class="nick-name">
            </div>
            <div class="table-row">       
                <input name="password-input" class="password-input">
            </div>
            <div class="table-row">
                <input name="confirm-password-input" class="confirm-password">
            </div>
            <div class="table-row">
                <input name="email-input"
                class="email-input">
            </div>
            
        </div>
        <div class="create-account-popup-submit-button-row">
            <button class="popup-button submit-button" type="submit">SUBMIT
            </button>
            <div class="popup-button popup-cancel-button">CANCEL</div>
        </div> 
        
    </form>
</div>
<img id="logo" src="blackjack-logo.png">
    <div class="password-incorrect hide">
        Incorrect Username or Password
    </div>
    <form id="login">
        <label>Username</label>
        <input class="username-login">
        <label>Password</label>
        <input class="password-login">
        <div class="login-btns">
            <button id="login-btn">
                LOGIN
            </button>
            <div class="create-account-btn">
                CREATE ACCOUNT
            </div>
        </div>
    </form>
</body>
</html>